/* RESET RULES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

/* APP  */

/* NAVBAR  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077cc; /* Colore sfondo */
  padding: 1.5rem 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
