/* RESET RULES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

/* APP  */

/* NAVBAR  */

.navbar {
  display: flex;
  justify-content: center; /* centra il contenuto orizzontalmente */
  align-items: center;
  background-color: #0077cc; /* Colore sfondo */
  padding: 1.5rem 1rem;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  background-color: #0077cc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.2s;
}

.nav-links a:hover,
.nav-links .active {
  background-color: hwb(152 0% 36%);
  color: white;
}

button {
  background-color: #0077cc; /* stesso colore della navbar */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(123, 100%, 32%); /* colore più scuro al passaggio del mouse */
}

/* TABLE  */

table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
  margin: 1rem auto; /* centra la tabella orizzontalmente */
}

thead {
  background-color: #0077cc; /* stesso colore della navbar */
}

th, td {
  text-align: left;
  padding: 0.75rem 1rem;
  color: #222244; /* esempio di colore font */
  border-right: 1px solid #e0e0e0; /* barra verticale tra colonne */
}

tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:hover {
  background-color: #f5faff;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

td:last-child {
  border-right: none; /* niente barra sull'ultima colonna */
}

/* STATUS COLOR  */

td.todo {
    background-color: hsl(24, 100%, 50%);
}

td.doing {
    background-color: yellow;
}

td.done {
    background-color: green;
}
